#sentiment {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  border:2px solid #242400;
}

.Positive {
  background: #BADA55;
}

.Negative {
  background: #d8546e;
}

.Neutral {
  background: #bfbdbd;
}
